@font-face {
  font-family: "iconfont"; /* Project id 4505614 */
  src: url('iconfont.woff2?t=1715245517609') format('woff2'),
       url('iconfont.woff?t=1715245517609') format('woff'),
       url('iconfont.ttf?t=1715245517609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sheshouzuo:before {
  content: "\e603";
}

.icon-muyangzuo:before {
  content: "\e604";
}

.icon-shuipingzuo:before {
  content: "\e605";
}

.icon-shuangyuzuo:before {
  content: "\e606";
}

.icon-mojiezuo:before {
  content: "\e608";
}

.icon-chunvzuo:before {
  content: "\e609";
}

.icon-shizizuo:before {
  content: "\e60a";
}

.icon-juxiezuo:before {
  content: "\e60b";
}

.icon-tianhezuo:before {
  content: "\e60c";
}

.icon-tianchengzuo:before {
  content: "\e60d";
}

.icon-shuangzizuo:before {
  content: "\e60e";
}

.icon-jinniuzuo:before {
  content: "\e60f";
}

.icon-guding-quxiaoguding:before {
  content: "\e636";
}

.icon-guding-guding:before {
  content: "\e637";
}

.icon-suoxiao:before {
  content: "\e7af";
}

.icon-kuoda:before {
  content: "\e7b0";
}

.icon-jiahao:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-shanchu:before {
  content: "\e65d";
}

.icon-shangjiantou:before {
  content: "\e601";
}

.icon-xiajiantou:before {
  content: "\e602";
}

.icon-quxiaoquanping-o:before {
  content: "\eb98";
}

.icon-quanping-o:before {
  content: "\eb99";
}

.icon-dark:before {
  content: "\e666";
}

.icon-shuyi-fanyi-36:before {
  content: "\e65c";
}

.icon-liangse:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e633";
}

.icon-zuojiantou:before {
  content: "\e635";
}

