.text-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.work-break-all {
  word-break: break-all;
  word-wrap: break-word;
}

.text-ellipses-line {
  display: box; /**  对象作为伸缩盒子模型展示  **/
  -webkit-box-orient: vertical; /**  设置或检索伸缩盒子对象的子元素的排列方式  **/
  -webkit-line-clamp: 2; /**  显示的行数  **/
  overflow: hidden; /**  隐藏超出的内容  **/
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all; /* 允许在单词内换行 */
}

.text-ellipses-line-2 {
  display: box; /**  对象作为伸缩盒子模型展示  **/
  -webkit-box-orient: vertical; /**  设置或检索伸缩盒子对象的子元素的排列方式  **/
  -webkit-line-clamp: 2; /**  显示的行数  **/
  overflow: hidden; /**  隐藏超出的内容  **/
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all; /* 允许在单词内换行 */
}

.text-ellipses-line-3 {
  display: box; /**  对象作为伸缩盒子模型展示  **/
  -webkit-box-orient: vertical; /**  设置或检索伸缩盒子对象的子元素的排列方式  **/
  -webkit-line-clamp: 3; /**  显示的行数  **/
  overflow: hidden; /**  隐藏超出的内容  **/
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all; /* 允许在单词内换行 */
}

.text-ellipses-line-6 {
  display: box; /**  对象作为伸缩盒子模型展示  **/
  -webkit-box-orient: vertical; /**  设置或检索伸缩盒子对象的子元素的排列方式  **/
  -webkit-line-clamp: 6; /**  显示的行数  **/
  overflow: hidden; /**  隐藏超出的内容  **/
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all; /* 允许在单词内换行 */
}

.word-break-break-word {
  word-break: break-word; /* 按单词换行 */
}

.iconfont {
  cursor: pointer;
}

.theme-color {
  color: var(--theme-color) !important;
}

.hover-color {
  color: var(--hover-color) !important;
}

.dashboard-item-container {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: var(--border-radius-16);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  --content-padding: 0 10px;

  &:hover {
    box-shadow: 0 0 10px var(--memo-bs-01);
  }
}
