html.dark {
  --bg-01: #282828;
  --bg-02: #414141;
  --bg-03: #41393a;
  --bg-04: #282828;
  --bg-05: #4d4b63;
  --bg-06: #1df52f;
  --bg-07: #bdbdcb;
  --bg-08: #282828;
  --bg-09: #414141;
  --bd-01: #4c4d4f;
  --bs-01: rgb(67 67 67 / 50%);
  --bs-02: rgb(0 0 0 / 50%);
  --bs-03: rgb(67 67 67 / 50%);
  --bs-04: rgb(0 0 0 / 30%);
  --color-01: #e5eaf3;
  --color-02: #333;
  --memo-bg-01: #313131;
  --memo-bd-01: #4b4b4b;
  --memo-bs-01: rgb(255 255 255 / 12%);
  --memo-gradient-01: linear-gradient(0deg, #ffc927, #ffa403);
  --memo-dialog-bg-01: var(--bg-02);
  --memo-dialog-bg-02: #595959;
  --memo-dialog-bg-03: #5d5d5d;
  --calendar-color-01: #d5d5d5;
  --calendar-color-02: #bbb;
  --calendar-color-03: #979797;
  --calendar-color-04: #ddd;
  --calendar-color-05: #b7b7b7;
  --calendar-color-06: #c3c4c5;
  --calendar-color-07: #737577;
  --calendar-bd-01: #656565;
  --calendar-bd-02: #414243;
  --calendar-dialog-bg-01: var(--memo-dialog-bg-03);
  --calendar-dialog-bg-02: var(--memo-dialog-bg-01);
  --calendar-dialog-bg-03: #b38a8a;
  --calendar-dialog-bg-04: #747479;
  --calendar-dialog-bg-05: #818181;
  --calendar-dialog-bg-06: #6d6d6d;
  --calendar-dialog-bg-07: #313131;
  --calendar-dialog-bg-08: #919191;
  --avatar-bg-01: #171d21;
  --avatar-bg-02: #252a31;
  --avatar-bg-03: #2c323a;
  --avatar-bg-04: #2d313b;
  --avatar-bg-05: #1f2229;
  --avatar-bg-06: #404854;
  --avatar-bg-07: #2a2f37;
  --avatar-bg-08: #373737;
  --avatar-bg-09: #2a2f37;
  --avatar-bg-10: #2c323a;
  --avatar-bg-11: '';
  --avatar-bg-12: #15171b;
  --avatar-bg-13: #1f2329;
  --avatar-bg-14: #2a2f37;
  --avatar-color-01: #a4b2c1;
  --avatar-color-02: #a4b2c1;
  --avatar-color-03: #a4b2c1;
  --avatar-color-04: #677f98;
  --avatar-color-05: #a4b2c1;
}
