:root,
html.dark {
  --el-color-primary: var(--theme-color);
  --el-color-primary-light-3: var(--hover-color);
  --el-color-primary-dark-2: var(--hover-color);
}

:root {
  .el-button {
    padding: 0 25px;
    height: 36px;
  }

  .el-button--small {
    padding: 5px 11px;
    height: 24px;
  }

  .el-color-dropdown__btns .el-button {
    display: none;
  }

  .el-dialog__body {
    color: var(--color-01);
  }

  .el-notification {
    --el-notification-close-hover-color: var(--hover-color);
  }

  .el-dialog.self-dialog {
    --el-dialog-border-radius: 16px;

    overflow: hidden;
    padding: 0;
    height: 64%;
    transition: width 0.3s ease 0s, height 0.3s ease 0s;

    .el-dialog__header {
      position: absolute;
      padding: 10px;
      width: 100%;
    }

    .el-dialog__body {
      height: 100%;
    }
  }
}
