:root {
  --bg-01: #fff;
  --bg-02: #f5f5f5;
  --bg-03: #f7f7f7;
  --bg-04: #f7f7f7;
  --bg-05: #a3a3a3;
  --bg-06: #41030d;
  --bg-07: #8f8f8f;
  --bg-08: #f5f5f5;
  --bg-09: #f2f2f2;
  --bd-01: #dcdfe6;
  --bs-01: rgb(160 173 193 / 50%);
  --bs-02: rgb(179 179 179 / 50%);
  --bs-03: rgb(185 185 185 / 50%);
  --bs-04: rgb(163 163 163 / 30%);
  --color-01: #333;
  --color-02: #fff;
  --memo-bg-01: #fafafa;
  --memo-bd-01: #e1e1e1;
  --memo-bs-01: rgb(0 0 0 / 12%);
  --memo-gradient-01: linear-gradient(0deg, #ffc927, #ffa403);
  --memo-dialog-bg-01: #f0f1f4;
  --memo-dialog-bg-02: #fff;
  --memo-dialog-bg-03: #fff;
  --calendar-color-01: #939393;
  --calendar-color-02: #939393;
  --calendar-color-03: #ebebeb;
  --calendar-color-04: #666;
  --calendar-color-05: #939393;
  --calendar-color-06: #8d9095;
  --calendar-color-07: #a8abb2;
  --calendar-bd-01: rgb(0 0 0 / 5%);
  --calendar-bd-02: #e4e7ed;
  --calendar-dialog-bg-01: var(--memo-dialog-bg-03);
  --calendar-dialog-bg-02: var(--memo-dialog-bg-01);
  --calendar-dialog-bg-03: #fef5f5;
  --calendar-dialog-bg-04: #f5f5f6;
  --calendar-dialog-bg-05: #f0f1f4;
  --calendar-dialog-bg-06: #e5e5e5;
  --calendar-dialog-bg-07: #e2e2e2;
  --calendar-dialog-bg-08: #f5f7fa;
  --avatar-bg-01: #f3f3f3;
  --avatar-bg-02: #dfdfdf;
  --avatar-bg-03: #d3d3d3;
  --avatar-bg-04: var(--theme-color);
  --avatar-bg-05: var(--hover-color);
  --avatar-bg-06: var(--theme-color);
  --avatar-bg-07: #cbcbcb;
  --avatar-bg-08: var(--hover-color);
  --avatar-bg-09: var(--theme-color);
  --avatar-bg-10: var(--theme-color);
  --avatar-bg-11: #e7e8e8;
  --avatar-bg-12: #e7e8e8;
  --avatar-bg-13: #e7e8e8;
  --avatar-bg-14: #d9d9d9;
  --avatar-color-01: #5c5c5d;
  --avatar-color-02: #fff;
  --avatar-color-03: #4d4d4d;
  --avatar-color-04: #2f3b47;
  --avatar-color-05: #292d33;
}
