html.dark {
  --bg-01: #282828;
  --bg-02: #414141;
  --bg-03: #41393a;
  --bg-04: #282828;
  --bg-05: #4d4b63;
  --bg-06: #1df52f;
  --bg-07: #bdbdcb;
  --bg-08: #282828;
  --bg-09: #414141;
  --bd-01: #4c4d4f;
  --bs-01: rgb(67 67 67 / 50%);
  --bs-02: rgb(0 0 0 / 50%);
  --bs-03: rgb(67 67 67 / 50%);
  --bs-04: rgb(0 0 0 / 30%);
  --color-01: #e5eaf3;
  --color-02: #333;
  --memo-bg-01: #313131;
  --memo-bd-01: #4b4b4b;
  --memo-bs-01: rgb(255 255 255 / 12%);
  --memo-gradient-01: linear-gradient(0deg, #ffc927, #ffa403);
  --memo-dialog-bg-01: var(--bg-02);
  --memo-dialog-bg-02: #595959;
  --memo-dialog-bg-03: #5d5d5d;
}

:root {
  --bg-01: #fff;
  --bg-02: #f5f5f5;
  --bg-03: #f7f7f7;
  --bg-04: #f7f7f7;
  --bg-05: #a3a3a3;
  --bg-06: #41030d;
  --bg-07: #8f8f8f;
  --bg-08: #f5f5f5;
  --bg-09: #f2f2f2;
  --bd-01: #dcdfe6;
  --bs-01: rgb(160 173 193 / 50%);
  --bs-02: rgb(179 179 179 / 50%);
  --bs-03: rgb(185 185 185 / 50%);
  --bs-04: rgb(163 163 163 / 30%);
  --color-01: #333;
  --color-02: #fff;
  --memo-bg-01: #fafafa;
  --memo-bd-01: #e1e1e1;
  --memo-bs-01: rgb(0 0 0 / 12%);
  --memo-gradient-01: linear-gradient(0deg, #ffc927, #ffa403);
  --memo-dialog-bg-01: #f0f1f4;
  --memo-dialog-bg-02: #fff;
  --memo-dialog-bg-03: #fff;
}
